<?php TPL::output('global/header.tpl.htm'); ?>

<div class="aw-container-wrap">


	<div class="container">
		<div class="row">
			<div class="aw-content-wrap clearfix">
				<div class="col-sm-12 col-md-9 aw-main-content">
			
			
					<div class="aw-mod aw-explore-list">
						<div class="mod-body">
							<div class="aw-common-list">
						
							</div>
						</div>
						<div class="mod-footer">
							<?php echo "hello ,this is test file" ?>
						</div>
					</div>
				</div>

			
			</div>
		</div>
	</div>
</div>

<?php TPL::output('global/footer.tpl.htm'); ?>